In [473]:
import pandas as pd

rhks = pd.read_csv('/Users/ijunhui/Downloads/ubion/프로젝트2/3_크롤링전처리/관리/뉴스/최종_관리_뉴스+닉변.csv')
wjd = pd.read_csv('/Users/ijunhui/Downloads/ubion/프로젝트2/3_크롤링전처리/정상/뉴스/전체정상기업크롤링전처리.csv')

wjd_df1 = pd.read_csv('/Users/ijunhui/Downloads/ubion/프로젝트2/1_기업선정/정상기업/2017정상기업전처리.csv')
wjd_df2 = pd.read_csv('/Users/ijunhui/Downloads/ubion/프로젝트2/1_기업선정/정상기업/2019정상기업전처리.csv')

rhks_df = pd.read_csv('/Users/ijunhui/Downloads/ubion/프로젝트2/1_기업선정/관리종목/최종_관리기업.csv')

wjd_df1 = wjd_df1[['회사명', '시간', '기간']]
wjd_df2 = wjd_df2[['회사명', '시간', '기간']]
rhks_df = rhks_df[['회사명', '시간', '기간']]

In [474]:
rhks

,종목명,신문사,시간,제목,본문
0,썬텍,머니투데이,2018.05.16. 오전 11:09,"썬텍, 63억웜 규모 경기 화성시 소재 토지 매입 결정",[머니투데이 안재용 기자]\n썬텍은 안정적 생산활동을 위한 부지매입을 위해 경기도 ...
1,썬텍,한국경제,2018.05.16. 오전 11:15,"썬텍, 63억 규모 경기 화성시 토지 양수 결정",썬텍은 안정적 생산활동을 위한 부지매입을 위해 경기도 화성시 필탄면 소재 토지를 6...
2,썬텍,이데일리,2018.05.16. 오전 11:17,"썬텍, 경기 화성 유형자산 취득",[이데일리 최정희 기자] 쎈텍은 안정적인 생산활동을 위해 경기 화성시 팔탄편 창곡리...
3,썬텍,헤럴드경제,2018.05.16. 오전 11:19,"[생생코스닥]썬텍, 63억 규모 경기도 화성시 소재 토지 매입 결정",[헤럴드경제=증권팀] 썬텍은 안정적인 생산활동을 위해 경기도 화성시 소재 토지를 양...
4,썬텍,서울경제,2018.05.16. 오전 11:40,"썬텍, 63억원 규모 경기 화성시 토지 양수",[서울경제] 썬텍(122800)은 안정적 생산활동을 위한 부지매입을 위해 경기도 화...
...,...,...,...,...,...
19335,미스터피자,이데일리,2018.04.14. 오후 9:24,[포토]캠퍼들 환호성 자아내는 미스터피자 드림팀,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...
19336,미스터피자,이데일리,2018.04.14. 오후 9:24,[포토]렛츠 고 캠핑 찾은 미스터피자 드림팀,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...
19337,미스터피자,이데일리,2018.04.14. 오후 9:24,"[포토]미스터피자 드림팀, '환상의 도우쇼'",[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...
19338,미스터피자,이데일리,2018.04.14. 오후 9:24,[포토]미스터피자 드림팀의 화려한 무대,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...
19339,미스터피자,이데일리,2018.04.14. 오후 9:24,[포토]미스터피자 드림팀 공연에 밤잠 못이루는 캠퍼들,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...

In [475]:
wjd_df2[wjd_df2['회사명'] == '글로벌텍스프리']

       회사명          시간          기간
0  글로벌텍스프리  2020-03-31  2019-09-30

In [476]:
wjd_df = pd.read_csv('wjd_df.csv')

In [477]:
wjd_df = wjd_df.drop('Unnamed: 0', axis=True)

In [478]:
wjd_df = wjd_df.drop_duplicates('회사명')
wjd_df1 = wjd_df1.drop_duplicates('회사명')
wjd_df2 = wjd_df2.drop_duplicates('회사명')

In [479]:
wjd_df = wjd_df.set_index('회사명')
wjd_df = wjd_df.reset_index()
wjd_df1 = wjd_df1.set_index('회사명')
wjd_df1 = wjd_df1.reset_index()
wjd_df2 = wjd_df2.set_index('회사명')
wjd_df2 = wjd_df2.reset_index()

In [480]:
rhks_df

        회사명          시간          기간
0     피에스엠씨  2012-03-19  2011-09-19
1     JH코오스  2012-04-13  2011-10-13
2      큐리어스  2012-05-17  2011-11-17
3     엔터미디어  2012-06-20  2011-12-20
4    엔케이바이오  2012-07-23  2012-01-23
..      ...         ...         ...
555     텔루스  2020-08-31  2020-03-04
556    디오스텍  2020-08-31  2020-03-04
557     에이팸  2020-09-21  2020-03-25
558    넥센테크  2020-09-21  2020-03-25
559     에스모  2020-09-21  2020-03-25

[560 rows x 3 columns]

In [481]:
wjd_df['시간'] = pd.to_datetime(wjd_df['시간'])
wjd_df['기간'] = pd.to_datetime(wjd_df['기간'])

rhks_df['시간'] = pd.to_datetime(rhks_df['시간'])
rhks_df['기간'] = pd.to_datetime(rhks_df['기간'])

wjd_df1['시간'] = pd.to_datetime(wjd_df['시간'])
wjd_df1['기간'] = pd.to_datetime(wjd_df['기간'])

wjd_df2['시간'] = pd.to_datetime(wjd_df['시간'])
wjd_df2['기간'] = pd.to_datetime(wjd_df['기간'])

In [482]:
wjd_df2[wjd_df2['회사명'] == '글로벌텍스프리']

       회사명         시간         기간
0  글로벌텍스프리 2018-03-31 2017-09-30

In [483]:
rhks_df = rhks_df.rename(columns={'시간' : "기간끝"})
rhks_df = rhks_df.rename(columns={'기간' : "기간시작"})
wjd_df = wjd_df.rename(columns={'시간' : "기간끝"})
wjd_df = wjd_df.rename(columns={'기간' : "기간시작"})
wjd_df1 = wjd_df1.rename(columns={'시간' : "기간끝"})
wjd_df1 = wjd_df1.rename(columns={'기간' : "기간시작"})
wjd_df2 = wjd_df2.rename(columns={'시간' : "기간끝"})
wjd_df2 = wjd_df2.rename(columns={'기간' : "기간시작"})

In [484]:
rhks_df = rhks_df[['회사명', '기간시작', '기간끝']]
wjd_df = wjd_df[['회사명', '기간시작', '기간끝']]
wjd_df1 = wjd_df1[['회사명', '기간시작', '기간끝']]
wjd_df2 = wjd_df2[['회사명', '기간시작', '기간끝']]

In [485]:
wjd_df2

           회사명       기간시작        기간끝
0      글로벌텍스프리 2017-09-30 2018-03-31
1        오스테오닉 2017-09-30 2018-03-31
2        동운아나텍 2017-09-30 2018-03-31
3       바이오솔루션 2017-09-30 2018-03-31
4        제일바이오 2017-09-30 2018-03-31
..         ...        ...        ...
75       큐로홀딩스 2017-09-30 2018-03-31
76  씨제이바이오사이언스 2017-09-30 2018-03-31
77     팬엔터테인먼트 2017-09-30 2018-03-31
78        코아시아 2017-09-30 2018-03-31
79       원익피앤이 2017-09-30 2018-03-31

[80 rows x 3 columns]

In [486]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
# 크롤링 6개월 중 1달 단위로 분할
gg1 = []
gg2 = []
gg3 = []
gg4 = []
gg5 = []
for i in range(0, len(wjd_df)):
    g1 = wjd_df.loc[i]['기간시작'] + relativedelta(months=1)
    gg1.append(g1)
    g2 = g1 + relativedelta(months=1)
    gg2.append(g2)
    g3 = g2 + relativedelta(months=1)
    gg3.append(g3)
    g4 = g3 + relativedelta(months=1)
    gg4.append(g4)
    g5 = g4 + relativedelta(months=1)
    gg5.append(g5)

wjd_df['gg1'] = pd.DataFrame(gg1)
wjd_df['gg2'] = pd.DataFrame(gg2)
wjd_df['gg3'] = pd.DataFrame(gg3)
wjd_df['gg4'] = pd.DataFrame(gg4)
wjd_df['gg5'] = pd.DataFrame(gg5)

In [487]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

gg1 = []
gg2 = []
gg3 = []
gg4 = []
gg5 = []
for i in range(0, len(wjd_df1)):
    g1 = wjd_df1.loc[i]['기간시작'] + relativedelta(months=1)
    gg1.append(g1)
    g2 = g1 + relativedelta(months=1)
    gg2.append(g2)
    g3 = g2 + relativedelta(months=1)
    gg3.append(g3)
    g4 = g3 + relativedelta(months=1)
    gg4.append(g4)
    g5 = g4 + relativedelta(months=1)
    gg5.append(g5)

wjd_df1['gg1'] = pd.DataFrame(gg1)
wjd_df1['gg2'] = pd.DataFrame(gg2)
wjd_df1['gg3'] = pd.DataFrame(gg3)
wjd_df1['gg4'] = pd.DataFrame(gg4)
wjd_df1['gg5'] = pd.DataFrame(gg5)

In [488]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

gg1 = []
gg2 = []
gg3 = []
gg4 = []
gg5 = []
for i in range(0, len(wjd_df2)):
    g1 = wjd_df2.loc[i]['기간시작'] + relativedelta(months=1)
    gg1.append(g1)
    g2 = g1 + relativedelta(months=1)
    gg2.append(g2)
    g3 = g2 + relativedelta(months=1)
    gg3.append(g3)
    g4 = g3 + relativedelta(months=1)
    gg4.append(g4)
    g5 = g4 + relativedelta(months=1)
    gg5.append(g5)

wjd_df2['gg1'] = pd.DataFrame(gg1)
wjd_df2['gg2'] = pd.DataFrame(gg2)
wjd_df2['gg3'] = pd.DataFrame(gg3)
wjd_df2['gg4'] = pd.DataFrame(gg4)
wjd_df2['gg5'] = pd.DataFrame(gg5)

In [489]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

gg1 = []
gg2 = []
gg3 = []
gg4 = []
gg5 = []
for i in range(0, len(rhks_df)):
    g1 = rhks_df.loc[i]['기간시작'] + relativedelta(months=1)
    gg1.append(g1)
    g2 = g1 + relativedelta(months=1)
    gg2.append(g2)
    g3 = g2 + relativedelta(months=1)
    gg3.append(g3)
    g4 = g3 + relativedelta(months=1)
    gg4.append(g4)
    g5 = g4 + relativedelta(months=1)
    gg5.append(g5)

rhks_df['gg1'] = pd.DataFrame(gg1)
rhks_df['gg2'] = pd.DataFrame(gg2)
rhks_df['gg3'] = pd.DataFrame(gg3)
rhks_df['gg4'] = pd.DataFrame(gg4)
rhks_df['gg5'] = pd.DataFrame(gg5)

In [490]:

rhks_df = rhks_df[['회사명', '기간시작', 'gg1', 'gg2', 'gg3', 'gg4', 'gg5', '기간끝']]
wjd_df = wjd_df[['회사명', '기간시작', 'gg1', 'gg2', 'gg3', 'gg4', 'gg5', '기간끝']]
wjd_df1 = wjd_df1[['회사명', '기간시작', 'gg1', 'gg2', 'gg3', 'gg4', 'gg5', '기간끝']]
wjd_df2 = wjd_df2[['회사명', '기간시작', 'gg1', 'gg2', 'gg3', 'gg4', 'gg5', '기간끝']]

In [491]:
wjd_df.rename(columns={'회사명' : '종목명'}, inplace=True)
wjd_df1.rename(columns={'회사명' : '종목명'}, inplace=True)
wjd_df2.rename(columns={'회사명' : '종목명'}, inplace=True)

In [492]:
wjd = wjd.set_index('종목명')

In [493]:
wjd_df = wjd_df.set_index('종목명')
wjd_df1 = wjd_df1.set_index('종목명')
wjd_df2 = wjd_df2.set_index('종목명')

In [494]:
wjd_df = wjd_df.reset_index()
wjd_df1 = wjd_df1.reset_index()
wjd_df2 = wjd_df2.reset_index()

In [495]:
wjd = wjd.reset_index()

In [496]:
wjd['시간'] = wjd['시간'].str[:10]

In [497]:
wjd['시간'] = pd.to_datetime(wjd['시간'])
# train, test 분리
wjd1 = wjd.loc[wjd['시간']<= '2019-03-31']
wjd2 = wjd.loc[wjd['시간']> '2019-03-31']

In [498]:
df = pd.merge(wjd, wjd_df, how = 'left', on = '종목명')

In [499]:
df_wjd1 = pd.merge(wjd1, wjd_df1, how = 'left', on = '종목명')
df_wjd2= pd.merge(wjd2, wjd_df2, how = 'left', on = '종목명')

In [500]:
df = df.dropna()
df_wjd1 = df_wjd1.dropna()
df_wjd2 = df_wjd2.dropna()

In [501]:
df_wjd2

,종목명,신문사,시간,제목,본문,기간시작,gg1,gg2,gg3,gg4,gg5,기간끝
163,글로벌텍스프리,한국경제,2019-11-14,"글로벌텍스프리, 3분기 누적 영업이익 45억원…전년比 667%↑","3분기 누적 매출 427억원, 역대 최대\n부가세 환급(택스리펀드) 대행 서비스 1...",2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31
164,글로벌텍스프리,이데일리,2019-11-14,"글로벌텍스프리, 3Q 영업익 전년비 667%↑…""유커 증가 효과""",[이데일리 김대웅 기자] 국내 택스리펀드 1위 기업인 글로벌텍스프리(204620)(...,2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31
165,글로벌텍스프리,조선비즈,2019-11-21,"글로벌텍스프리, +2.95% 상승폭 확대",글로벌텍스프리(204620)가 상승폭을 확대하고 있다. 전일 대비 2.95% 상승한...,2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31
166,글로벌텍스프리,조선비즈,2019-11-21,"글로벌텍스프리, +0.16% VI 발동","글로벌텍스프리(204620)가 VI가 발동했다. 전일 대비 0.16% 상승한 3,2...",2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31
167,글로벌텍스프리,아시아경제,2019-11-29,"[특징주]글로벌텍스프리, 5년 만에 中 왕이 국무위원 방한…'강세'",[아시아경제 유현석 기자] 글로벌텍스프리가 강세다. 왕이 중국 국무위원 겸 외교부장...,2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31
...,...,...,...,...,...,...,...,...,...,...,...,...
1600,메드팩토,뉴시스,2019-12-09,"메드팩토, 상장 공모가 4만원…밴드 상단부서 확정",731개 기관 수요예측 참여\n86.41대 1 경쟁률 기록\n[서울=뉴시스] 송연주...,2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31
1601,메드팩토,한국경제,2019-12-09,메드팩토 공모가 4만원…수요예측 '선방',19일 코스닥 상장 예정\n신약개발 바이오기업인 메드팩토가 코스닥시장 상장을 앞두고...,2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31
1602,메드팩토,뉴시스,2019-12-09,"메드팩토, 공모가 4만원 확정…19일 코스닥 상장 예정","약 731개 기관이 수요예측 참여, 86.41대 1 경쟁률 기록\n[서울=뉴시스] ...",2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31
1603,메드팩토,서울경제,2019-12-10,[시그널] 공모가 안착 성공 ‘메드팩토’···'바이오벤처 IPO 훈풍' 촉매될까,기술특례로 IPO나선 메드팩토\n지난 5월 기평 탈락에도 수요예측 선방 '눈길'\n...,2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31
1604,메드팩토,스포츠서울,2019-12-11,[마켓 뉴리더] IPO 앞둔 메드팩토 “기술수출 넘어 항체신약 자체개발 자신”,김성진 메드팩토 대표이사 인터뷰\n‘백토서팁’ 2021년 대규모 기술수출 달성 기대...,2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31

In [502]:
df['1mon'] = ""
df['2mon'] = ""
df['3mon'] = ""
df['4mon'] = ""
df['5mon'] = ""
df['6mon'] = ""

df_wjd1['1mon'] = ""
df_wjd1['2mon'] = ""
df_wjd1['3mon'] = ""
df_wjd1['4mon'] = ""
df_wjd1['5mon'] = ""
df_wjd1['6mon'] = ""

df_wjd2['1mon'] = ""
df_wjd2['2mon'] = ""
df_wjd2['3mon'] = ""
df_wjd2['4mon'] = ""
df_wjd2['5mon'] = ""
df_wjd2['6mon'] = ""

In [503]:
df

,종목명,신문사,시간,제목,본문,기간시작,gg1,gg2,gg3,gg4,gg5,기간끝,1mon,2mon,3mon,4mon,5mon,6mon
0,참좋은여행,전자신문,2017-10-10,"[ET투자뉴스][참좋은여행 지분 변동] 국민연금공단 외 1명 -3.27%p 감소, ...",참좋은여행(094850)은 10일 주주 국민연금공단을 비롯한 특별관계자의 보유주식이...,2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31,,,,,,
1,참좋은여행,전자신문,2017-10-10,[ET투자뉴스]자전거주 테마_참좋은여행 2주간 -0.47%로 하락폭 가장 작아,현재 시점에서 자전거주 테마 내의 종목들이 모두 하락세를 보이며 좋지 않은 모습을 ...,2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31,,,,,,
2,참좋은여행,뉴스1,2017-10-16,[부고] 이상무씨(참좋은여행 전무이사) 부친상,"■이상일씨 별세, 이상무씨(참좋은여행 전무이사) 부친상=15일 충청나마도 서산중앙병...",2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31,,,,,,
3,참좋은여행,노컷뉴스,2017-10-16,[부고] 이상무(참좋은여행 전무이사)씨 부친상,"[CBS노컷뉴스]\n▲ 이상무(참좋은여행 전무이사)씨 부친상 = 이상일, 상무, 상...",2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31,,,,,,
4,참좋은여행,스포츠서울,2017-10-20,"""봄의 도시로 떠나볼까?"" 참좋은여행, 봄으로 떠나는 가을여행 '베트남 달랏'",베트남 달랏 제공 | 참좋은여행\n\n[스포츠서울 황철훈기자] 하루가 다르게 쌀쌀해...,2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8615,메드팩토,뉴시스,2019-12-09,"메드팩토, 상장 공모가 4만원…밴드 상단부서 확정",731개 기관 수요예측 참여\n86.41대 1 경쟁률 기록\n[서울=뉴시스] 송연주...,2019-09-30,2019-10-30,2019-11-30,2019-12-30,2020-01-30,2020-02-29,2020-03-31,,,,,,
8616,메드팩토,한국경제,2019-12-09,메드팩토 공모가 4만원…수요예측 '선방',19일 코스닥 상장 예정\n신약개발 바이오기업인 메드팩토가 코스닥시장 상장을 앞두고...,2019-09-30,2019-10-30,2019-11-30,2019-12-30,2020-01-30,2020-02-29,2020-03-31,,,,,,
8617,메드팩토,뉴시스,2019-12-09,"메드팩토, 공모가 4만원 확정…19일 코스닥 상장 예정","약 731개 기관이 수요예측 참여, 86.41대 1 경쟁률 기록\n[서울=뉴시스] ...",2019-09-30,2019-10-30,2019-11-30,2019-12-30,2020-01-30,2020-02-29,2020-03-31,,,,,,
8618,메드팩토,서울경제,2019-12-10,[시그널] 공모가 안착 성공 ‘메드팩토’···'바이오벤처 IPO 훈풍' 촉매될까,기술특례로 IPO나선 메드팩토\n지난 5월 기평 탈락에도 수요예측 선방 '눈길'\n...,2019-09-30,2019-10-30,2019-11-30,2019-12-30,2020-01-30,2020-02-29,2020-03-31,,,,,,
8619,메드팩토,스포츠서울,2019-12-11,[마켓 뉴리더] IPO 앞둔 메드팩토 “기술수출 넘어 항체신약 자체개발 자신”,김성진 메드팩토 대표이사 인터뷰\n‘백토서팁’ 2021년 대규모 기술수출 달성 기대...,2019-09-30,2019-10-30,2019-11-30,2019-12-30,2020-01-30,2020-02-29,2020-03-31,,,,,,

In [504]:
# df['시간'] = df['시간'].str[:10]

In [505]:
df['시간'] = pd.to_datetime(df['시간'])
df_wjd1['시간'] = pd.to_datetime(df_wjd1['시간'])
df_wjd2['시간'] = pd.to_datetime(df_wjd2['시간'])

In [506]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8275 entries, 0 to 8619
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목명     8275 non-null   object
 1   신문사     8275 non-null   object
 2   시간      8275 non-null   datetime64[ns]
 3   제목      8275 non-null   object
 4   본문      8275 non-null   object
 5   기간시작    8275 non-null   datetime64[ns]
 6   gg1     8275 non-null   datetime64[ns]
 7   gg2     8275 non-null   datetime64[ns]
 8   gg3     8275 non-null   datetime64[ns]
 9   gg4     8275 non-null   datetime64[ns]
 10  gg5     8275 non-null   datetime64[ns]
 11  기간끝     8275 non-null   datetime64[ns]
 12  1mon    8275 non-null   object
 13  2mon    8275 non-null   object
 14  3mon    8275 non-null   object
 15  4mon    8275 non-null   object
 16  5mon    8275 non-null   object
 17  6mon    8275 non-null   object
dtypes: datetime64[ns](8), object(10)
memory usage: 1.2+ MB

In [507]:
df = df.set_index('종목명')
df_wjd1 = df_wjd1.set_index('종목명')
df_wjd2 = df_wjd2.set_index('종목명')

In [508]:
df = df.reset_index()
df_wjd1 = df_wjd1.reset_index()
df_wjd2 = df_wjd2.reset_index()

In [509]:
df.head(1)

,종목명,신문사,시간,제목,본문,기간시작,gg1,gg2,gg3,gg4,gg5,기간끝,1mon,2mon,3mon,4mon,5mon,6mon
0,참좋은여행,전자신문,2017-10-10,"[ET투자뉴스][참좋은여행 지분 변동] 국민연금공단 외 1명 -3.27%p 감소, ...",참좋은여행(094850)은 10일 주주 국민연금공단을 비롯한 특별관계자의 보유주식이...,2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31,,,,,,

In [510]:
df['1mon'] = 0
df['2mon'] = 0
df['3mon'] = 0
df['4mon'] = 0
df['5mon'] = 0
df['6mon'] = 0

df_wjd1['1mon'] = 0
df_wjd1['2mon'] = 0
df_wjd1['3mon'] = 0
df_wjd1['4mon'] = 0
df_wjd1['5mon'] = 0
df_wjd1['6mon'] = 0

df_wjd2['1mon'] = 0
df_wjd2['2mon'] = 0
df_wjd2['3mon'] = 0
df_wjd2['4mon'] = 0
df_wjd2['5mon'] = 0
df_wjd2['6mon'] = 0

#기본값 0

In [511]:
for i in range(0, len(df)):
    if (df.loc[i]['시간'] > df.loc[i]['기간시작']) & (df.loc[i]['시간'] <= df.loc[i]['gg1']):
        df.loc[i,'1mon'] = 1
    elif (df.loc[i]['시간'] > df.loc[i]['gg1']) & (df.loc[i]['시간'] <= df.loc[i]['gg2']):
        df.loc[i,'2mon'] = 1
    elif (df.loc[i]['시간'] > df.loc[i]['gg2']) & (df.loc[i]['시간'] <= df.loc[i]['gg3']):
        df.loc[i,'3mon'] = 1
    elif (df.loc[i]['시간'] > df.loc[i]['gg3']) & (df.loc[i]['시간'] <= df.loc[i]['gg4']):
        df.loc[i,'4mon'] = 1
    elif (df.loc[i]['시간'] > df.loc[i]['gg4']) & (df.loc[i]['시간'] <= df.loc[i]['gg5']):
        df.loc[i,'5mon'] = 1
    elif (df.loc[i]['시간'] > df.loc[i]['gg5']) & (df.loc[i]['시간'] <= df.loc[i]['기간끝']):
        df.loc[i,'6mon'] = 1
# 크롤링 된 뉴스 기사의 시간이 포함된 시간에 1부여

In [512]:
for i in range(0, len(df_wjd1)):
    if (df_wjd1.loc[i]['시간'] > df_wjd1.loc[i]['기간시작']) & (df_wjd1.loc[i]['시간'] <= df_wjd1.loc[i]['gg1']):
        df_wjd1.loc[i,'1mon'] = 1
    elif (df_wjd1.loc[i]['시간'] > df_wjd1.loc[i]['gg1']) & (df_wjd1.loc[i]['시간'] <= df_wjd1.loc[i]['gg2']):
        df_wjd1.loc[i,'2mon'] = 1
    elif (df_wjd1.loc[i]['시간'] > df_wjd1.loc[i]['gg2']) & (df_wjd1.loc[i]['시간'] <= df_wjd1.loc[i]['gg3']):
        df_wjd1.loc[i,'3mon'] = 1
    elif (df_wjd1.loc[i]['시간'] > df_wjd1.loc[i]['gg3']) & (df_wjd1.loc[i]['시간'] <= df_wjd1.loc[i]['gg4']):
        df_wjd1.loc[i,'4mon'] = 1
    elif (df_wjd1.loc[i]['시간'] > df_wjd1.loc[i]['gg4']) & (df_wjd1.loc[i]['시간'] <= df_wjd1.loc[i]['gg5']):
        df_wjd1.loc[i,'5mon'] = 1
    elif (df_wjd1.loc[i]['시간'] > df_wjd1.loc[i]['gg5']) & (df_wjd1.loc[i]['시간'] <= df_wjd1.loc[i]['기간끝']):
        df_wjd1.loc[i,'6mon'] = 1

In [513]:
for i in range(0, len(df_wjd2)):
    if (df_wjd2.loc[i]['시간'] > df_wjd2.loc[i]['기간시작']) & (df_wjd2.loc[i]['시간'] <= df_wjd2.loc[i]['gg1']):
        df_wjd2.loc[i,'1mon'] = 1
    elif (df_wjd2.loc[i]['시간'] > df_wjd2.loc[i]['gg1']) & (df_wjd2.loc[i]['시간'] <= df_wjd2.loc[i]['gg2']):
        df_wjd2.loc[i,'2mon'] = 1
    elif (df_wjd2.loc[i]['시간'] > df_wjd2.loc[i]['gg2']) & (df_wjd2.loc[i]['시간'] <= df_wjd2.loc[i]['gg3']):
        df_wjd2.loc[i,'3mon'] = 1
    elif (df_wjd2.loc[i]['시간'] > df_wjd2.loc[i]['gg3']) & (df_wjd2.loc[i]['시간'] <= df_wjd2.loc[i]['gg4']):
        df_wjd2.loc[i,'4mon'] = 1
    elif (df_wjd2.loc[i]['시간'] > df_wjd2.loc[i]['gg4']) & (df_wjd2.loc[i]['시간'] <= df_wjd2.loc[i]['gg5']):
        df_wjd2.loc[i,'5mon'] = 1
    elif (df_wjd2.loc[i]['시간'] > df_wjd2.loc[i]['gg5']) & (df_wjd2.loc[i]['시간'] <= df_wjd2.loc[i]['기간끝']):
        df_wjd2.loc[i,'6mon'] = 1

In [514]:
del_list = []
for i in range(0, len(df)):
    if (df.loc[i]['1mon'] + df.loc[i]['2mon']+df.loc[i]['3mon']+df.loc[i]['4mon']+df.loc[i]['5mon']+df.loc[i]['6mon']) == 0:
        del_list.append(i)

In [515]:
for i in del_list:
    df = df.drop([i], axis = 0)

In [516]:
del_list = []
for i in range(0, len(df_wjd1)):
    if (df_wjd1.loc[i]['1mon'] + df_wjd1.loc[i]['2mon']+df_wjd1.loc[i]['3mon']+df_wjd1.loc[i]['4mon']+df_wjd1.loc[i]['5mon']+df_wjd1.loc[i]['6mon']) == 0:
        del_list.append(i)

In [517]:
for i in del_list:
    df_wjd1 = df_wjd1.drop([i], axis = 0)

In [518]:
del_list = []
for i in range(0, len(df_wjd2)):
    if (df_wjd2.loc[i]['1mon'] + df_wjd2.loc[i]['2mon']+df_wjd2.loc[i]['3mon']+df_wjd2.loc[i]['4mon']+df_wjd2.loc[i]['5mon']+df_wjd2.loc[i]['6mon']) == 0:
        del_list.append(i)

In [519]:
for i in del_list:
    df_wjd2 = df_wjd2.drop([i], axis = 0)

In [528]:
df.head(1)

,종목명,신문사,시간,제목,본문,기간시작,gg1,gg2,gg3,gg4,gg5,기간끝,1mon,2mon,3mon,4mon,5mon,6mon
0,참좋은여행,전자신문,2017-10-10,"[ET투자뉴스][참좋은여행 지분 변동] 국민연금공단 외 1명 -3.27%p 감소, ...",참좋은여행(094850)은 10일 주주 국민연금공단을 비롯한 특별관계자의 보유주식이...,2017-09-30,2017-10-30,2017-11-30,2017-12-30,2018-01-30,2018-02-28,2018-03-31,1,0,0,0,0,0

In [529]:
df_wjd1_1 = df.loc[df['기간시작'] == '2017-09-30']
df_wjd2_2 = df.loc[df['기간시작'] == '2019-09-30']

wjd1 = wjd.loc[wjd['시간']<= '2019-03-31']
wjd2 = wjd.loc[wjd['시간']> '2019-03-31']

In [530]:
len(df)

7931

In [531]:
len(df_wjd1_1)

6909

In [532]:
len(df_wjd2_2)

1022

In [535]:
# df_wjd1_1.to_csv('정상_뉴스_train_기사비율_기간분할.csv')

In [536]:
# df_wjd2_2.to_csv('정상_뉴스_test_기사비율_기간분할.csv')

In [520]:
# df.to_csv('정상_뉴스_기사비율_기간분할.csv')

In [521]:
# df_wjd1.to_csv('정상_뉴스_train_기사비율_기간분할.csv', index=False)