In [2]:
import pandas as pd

rhks = pd.read_csv('/Users/ijunhui/Downloads/ubion/프로젝트2/3_크롤링전처리/관리/뉴스/최종_관리_뉴스+닉변.csv')
wjd = pd.read_csv('/Users/ijunhui/Downloads/ubion/프로젝트2/3_크롤링전처리/정상/뉴스/전체정상기업크롤링전처리.csv')

wjd_df1 = pd.read_csv('/Users/ijunhui/Downloads/ubion/프로젝트2/1_기업선정/정상기업/2017정상기업전처리.csv')
wjd_df2 = pd.read_csv('/Users/ijunhui/Downloads/ubion/프로젝트2/1_기업선정/정상기업/2019정상기업전처리.csv')

rhks_df = pd.read_csv('/Users/ijunhui/Downloads/ubion/프로젝트2/1_기업선정/관리종목/최종_관리기업.csv')

In [4]:
wjd_df1

             시간     회사명          기간        기간 후
0    2018-03-31    케이씨티  2017-09-30  2018-02-28
1    2018-03-31    비디아이  2017-09-30  2018-02-28
2    2018-03-31  클라우드에어  2017-09-30  2018-02-28
3    2018-03-31  동국알앤에스  2017-09-30  2018-02-28
4    2018-03-31    맥스로텍  2017-09-30  2018-02-28
..          ...     ...         ...         ...
203  2018-03-31  에이치알에스  2017-09-30  2018-02-28
204  2018-03-31    대주산업  2017-09-30  2018-02-28
205  2018-03-31  아이윈플러스  2017-09-30  2018-02-28
206  2018-03-31  모베이스전자  2017-09-30  2018-02-28
207  2018-03-31      연우  2017-09-30  2018-02-28

[208 rows x 4 columns]

In [67]:
wjd_df2

           회사명          시간          기간        기간 후
0      글로벌텍스프리  2020-03-31  2019-09-30  2020-02-29
1        오스테오닉  2020-03-31  2019-09-30  2020-02-29
2        동운아나텍  2020-03-31  2019-09-30  2020-02-29
3       바이오솔루션  2020-03-31  2019-09-30  2020-02-29
4        제일바이오  2020-03-31  2019-09-30  2020-02-29
..         ...         ...         ...         ...
75       큐로홀딩스  2020-03-31  2019-09-30  2020-02-29
76  씨제이바이오사이언스  2020-03-31  2019-09-30  2020-02-29
77     팬엔터테인먼트  2020-03-31  2019-09-30  2020-02-29
78        코아시아  2020-03-31  2019-09-30  2020-02-29
79       원익피앤이  2020-03-31  2019-09-30  2020-02-29

[80 rows x 4 columns]

In [71]:
rhks_df

        회사명          시간          기간        기간 후
0     피에스엠씨  2012-03-19  2011-09-19  2012-02-19
1     JH코오스  2012-04-13  2011-10-13  2012-03-13
2      큐리어스  2012-05-17  2011-11-17  2012-04-17
3     엔터미디어  2012-06-20  2011-12-20  2012-05-20
4    엔케이바이오  2012-07-23  2012-01-23  2012-06-23
..      ...         ...         ...         ...
555     텔루스  2020-08-31  2020-03-04  2020-07-31
556    디오스텍  2020-08-31  2020-03-04  2020-07-31
557     에이팸  2020-09-21  2020-03-25  2020-08-21
558    넥센테크  2020-09-21  2020-03-25  2020-08-21
559     에스모  2020-09-21  2020-03-25  2020-08-21

[560 rows x 4 columns]

In [72]:
wjd_df = pd.read_csv('wjd_df.csv')

In [73]:
wjd_df = wjd_df.drop('Unnamed: 0', axis=True)

In [74]:
# 중복 회사명 제거 
wjd_df = wjd_df.drop_duplicates('회사명')
wjd_df1 = wjd_df1.drop_duplicates('회사명')
wjd_df2 = wjd_df2.drop_duplicates('회사명')
rhks_df = rhks_df.drop_duplicates('회사명')

In [75]:
wjd_df = wjd_df.set_index('회사명')
wjd_df = wjd_df.reset_index()
wjd_df1 = wjd_df1.set_index('회사명')
wjd_df1 = wjd_df1.reset_index()
wjd_df2 = wjd_df2.set_index('회사명')
wjd_df2 = wjd_df2.reset_index()
rhks_df = rhks_df.set_index('회사명')
rhks_df = rhks_df.reset_index()

In [78]:
wjd_df

            회사명          시간          기간
0          케이씨티  2018-03-31  2017-09-30
1          비디아이  2018-03-31  2017-09-30
2           씨티젠  2018-03-31  2017-09-30
3        동국알앤에스  2018-03-31  2017-09-30
4          맥스로텍  2018-03-31  2017-09-30
..          ...         ...         ...
263       큐로홀딩스  2020-03-31  2019-09-30
264  씨제이바이오사이언스  2020-03-31  2019-09-30
265     팬엔터테인먼트  2020-03-31  2019-09-30
266        코아시아  2020-03-31  2019-09-30
267       원익피앤이  2020-03-31  2019-09-30

[268 rows x 3 columns]

In [79]:
wjd_df['시간'] = pd.to_datetime(wjd_df['시간'])
wjd_df['기간'] = pd.to_datetime(wjd_df['기간'])

rhks_df['시간'] = pd.to_datetime(rhks_df['시간'])
rhks_df['기간'] = pd.to_datetime(rhks_df['기간'])

wjd_df1['시간'] = pd.to_datetime(wjd_df['시간'])
wjd_df1['기간'] = pd.to_datetime(wjd_df['기간'])

wjd_df2['시간'] = pd.to_datetime(wjd_df['시간'])
wjd_df2['기간'] = pd.to_datetime(wjd_df['기간'])

rhks_df['시간'] = pd.to_datetime(rhks_df['시간'])
rhks_df['기간'] = pd.to_datetime(rhks_df['기간'])

In [80]:
rhks_df

           회사명         시간         기간        기간 후
0        피에스엠씨 2012-03-19 2011-09-19  2012-02-19
1        JH코오스 2012-04-13 2011-10-13  2012-03-13
2         큐리어스 2012-05-17 2011-11-17  2012-04-17
3        엔터미디어 2012-06-20 2011-12-20  2012-05-20
4       엔케이바이오 2012-07-23 2012-01-23  2012-06-23
..         ...        ...        ...         ...
425  한주케미칼앤홀딩스 2020-08-14 2020-02-16  2020-07-14
426        텔루스 2020-08-31 2020-03-04  2020-07-31
427       디오스텍 2020-08-31 2020-03-04  2020-07-31
428       넥센테크 2020-09-21 2020-03-25  2020-08-21
429        에스모 2020-09-21 2020-03-25  2020-08-21

[430 rows x 4 columns]

In [81]:
rhks_df = rhks_df.rename(columns={'시간' : "기간끝"})
rhks_df = rhks_df.rename(columns={'기간' : "기간시작"})
wjd_df = wjd_df.rename(columns={'시간' : "기간끝"})
wjd_df = wjd_df.rename(columns={'기간' : "기간시작"})
wjd_df1 = wjd_df1.rename(columns={'시간' : "기간끝"})
wjd_df1 = wjd_df1.rename(columns={'기간' : "기간시작"})
wjd_df2 = wjd_df2.rename(columns={'시간' : "기간끝"})
wjd_df2 = wjd_df2.rename(columns={'기간' : "기간시작"})

In [82]:
rhks_df = rhks_df[['회사명', '기간시작', '기간끝']]
wjd_df = wjd_df[['회사명', '기간시작', '기간끝']]
wjd_df1 = wjd_df1[['회사명', '기간시작', '기간끝']]
wjd_df2 = wjd_df2[['회사명', '기간시작', '기간끝']]

In [83]:
rhks_df

           회사명       기간시작        기간끝
0        피에스엠씨 2011-09-19 2012-03-19
1        JH코오스 2011-10-13 2012-04-13
2         큐리어스 2011-11-17 2012-05-17
3        엔터미디어 2011-12-20 2012-06-20
4       엔케이바이오 2012-01-23 2012-07-23
..         ...        ...        ...
425  한주케미칼앤홀딩스 2020-02-16 2020-08-14
426        텔루스 2020-03-04 2020-08-31
427       디오스텍 2020-03-04 2020-08-31
428       넥센테크 2020-03-25 2020-09-21
429        에스모 2020-03-25 2020-09-21

[430 rows x 3 columns]

In [84]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

gg1 = []
gg2 = []
gg3 = []
gg4 = []
gg5 = []
for i in range(0, len(wjd_df)):
    g1 = wjd_df.loc[i]['기간시작'] + relativedelta(months=1)
    gg1.append(g1)
    g2 = g1 + relativedelta(months=1)
    gg2.append(g2)
    g3 = g2 + relativedelta(months=1)
    gg3.append(g3)
    g4 = g3 + relativedelta(months=1)
    gg4.append(g4)
    g5 = g4 + relativedelta(months=1)
    gg5.append(g5)

wjd_df['gg1'] = pd.DataFrame(gg1)
wjd_df['gg2'] = pd.DataFrame(gg2)
wjd_df['gg3'] = pd.DataFrame(gg3)
wjd_df['gg4'] = pd.DataFrame(gg4)
wjd_df['gg5'] = pd.DataFrame(gg5)

# 총 6개월의 기간을 1달 단위로 분할

In [85]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

gg1 = []
gg2 = []
gg3 = []
gg4 = []
gg5 = []
for i in range(0, len(wjd_df1)):
    g1 = wjd_df1.loc[i]['기간시작'] + relativedelta(months=1)
    gg1.append(g1)
    g2 = g1 + relativedelta(months=1)
    gg2.append(g2)
    g3 = g2 + relativedelta(months=1)
    gg3.append(g3)
    g4 = g3 + relativedelta(months=1)
    gg4.append(g4)
    g5 = g4 + relativedelta(months=1)
    gg5.append(g5)

wjd_df1['gg1'] = pd.DataFrame(gg1)
wjd_df1['gg2'] = pd.DataFrame(gg2)
wjd_df1['gg3'] = pd.DataFrame(gg3)
wjd_df1['gg4'] = pd.DataFrame(gg4)
wjd_df1['gg5'] = pd.DataFrame(gg5)

In [86]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

gg1 = []
gg2 = []
gg3 = []
gg4 = []
gg5 = []
for i in range(0, len(wjd_df2)):
    g1 = wjd_df2.loc[i]['기간시작'] + relativedelta(months=1)
    gg1.append(g1)
    g2 = g1 + relativedelta(months=1)
    gg2.append(g2)
    g3 = g2 + relativedelta(months=1)
    gg3.append(g3)
    g4 = g3 + relativedelta(months=1)
    gg4.append(g4)
    g5 = g4 + relativedelta(months=1)
    gg5.append(g5)

wjd_df2['gg1'] = pd.DataFrame(gg1)
wjd_df2['gg2'] = pd.DataFrame(gg2)
wjd_df2['gg3'] = pd.DataFrame(gg3)
wjd_df2['gg4'] = pd.DataFrame(gg4)
wjd_df2['gg5'] = pd.DataFrame(gg5)

In [87]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

gg1 = []
gg2 = []
gg3 = []
gg4 = []
gg5 = []
for i in range(0, len(rhks_df)):
    g1 = rhks_df.loc[i]['기간시작'] + relativedelta(months=1)
    gg1.append(g1)
    g2 = g1 + relativedelta(months=1)
    gg2.append(g2)
    g3 = g2 + relativedelta(months=1)
    gg3.append(g3)
    g4 = g3 + relativedelta(months=1)
    gg4.append(g4)
    g5 = g4 + relativedelta(months=1)
    gg5.append(g5)

rhks_df['gg1'] = pd.DataFrame(gg1)
rhks_df['gg2'] = pd.DataFrame(gg2)
rhks_df['gg3'] = pd.DataFrame(gg3)
rhks_df['gg4'] = pd.DataFrame(gg4)
rhks_df['gg5'] = pd.DataFrame(gg5)

In [89]:
rhks_df

,회사명,기간시작,기간끝,gg1,gg2,gg3,gg4,gg5
0,피에스엠씨,2011-09-19,2012-03-19,2011-10-19,2011-11-19,2011-12-19,2012-01-19,2012-02-19
1,JH코오스,2011-10-13,2012-04-13,2011-11-13,2011-12-13,2012-01-13,2012-02-13,2012-03-13
2,큐리어스,2011-11-17,2012-05-17,2011-12-17,2012-01-17,2012-02-17,2012-03-17,2012-04-17
3,엔터미디어,2011-12-20,2012-06-20,2012-01-20,2012-02-20,2012-03-20,2012-04-20,2012-05-20
4,엔케이바이오,2012-01-23,2012-07-23,2012-02-23,2012-03-23,2012-04-23,2012-05-23,2012-06-23
...,...,...,...,...,...,...,...,...
425,한주케미칼앤홀딩스,2020-02-16,2020-08-14,2020-03-16,2020-04-16,2020-05-16,2020-06-16,2020-07-16
426,텔루스,2020-03-04,2020-08-31,2020-04-04,2020-05-04,2020-06-04,2020-07-04,2020-08-04
427,디오스텍,2020-03-04,2020-08-31,2020-04-04,2020-05-04,2020-06-04,2020-07-04,2020-08-04
428,넥센테크,2020-03-25,2020-09-21,2020-04-25,2020-05-25,2020-06-25,2020-07-25,2020-08-25
429,에스모,2020-03-25,2020-09-21,2020-04-25,2020-05-25,2020-06-25,2020-07-25,2020-08-25

In [90]:

rhks_df = rhks_df[['회사명', '기간시작', 'gg1', 'gg2', 'gg3', 'gg4', 'gg5', '기간끝']]
wjd_df = wjd_df[['회사명', '기간시작', 'gg1', 'gg2', 'gg3', 'gg4', 'gg5', '기간끝']]
wjd_df1 = wjd_df1[['회사명', '기간시작', 'gg1', 'gg2', 'gg3', 'gg4', 'gg5', '기간끝']]
wjd_df2 = wjd_df2[['회사명', '기간시작', 'gg1', 'gg2', 'gg3', 'gg4', 'gg5', '기간끝']]

In [91]:
rhks_df.rename(columns={'회사명' : '종목명'}, inplace=True)

wjd_df.rename(columns={'회사명' : '종목명'}, inplace=True)
wjd_df1.rename(columns={'회사명' : '종목명'}, inplace=True)
wjd_df2.rename(columns={'회사명' : '종목명'}, inplace=True)

In [92]:
wjd = wjd.set_index('종목명')
rhks = rhks.set_index('종목명')

In [93]:
rhks_df = rhks_df.set_index('종목명')
wjd_df = wjd_df.set_index('종목명')
wjd_df1 = wjd_df1.set_index('종목명')
wjd_df2 = wjd_df2.set_index('종목명')

In [94]:
rhks_df = rhks_df.reset_index()
wjd_df = wjd_df.reset_index()
wjd_df1 = wjd_df1.reset_index()
wjd_df2 = wjd_df2.reset_index()

In [95]:
wjd = wjd.reset_index()
rhks = rhks.reset_index()

In [96]:
wjd_df[wjd_df['종목명'] == '베뉴지']

Empty DataFrame
Columns: [종목명, 기간시작, gg1, gg2, gg3, gg4, gg5, 기간끝]
Index: []

In [97]:
rhks

,종목명,신문사,시간,제목,본문
0,썬텍,머니투데이,2018.05.16. 오전 11:09,"썬텍, 63억웜 규모 경기 화성시 소재 토지 매입 결정",[머니투데이 안재용 기자]\n썬텍은 안정적 생산활동을 위한 부지매입을 위해 경기도 ...
1,썬텍,한국경제,2018.05.16. 오전 11:15,"썬텍, 63억 규모 경기 화성시 토지 양수 결정",썬텍은 안정적 생산활동을 위한 부지매입을 위해 경기도 화성시 필탄면 소재 토지를 6...
2,썬텍,이데일리,2018.05.16. 오전 11:17,"썬텍, 경기 화성 유형자산 취득",[이데일리 최정희 기자] 쎈텍은 안정적인 생산활동을 위해 경기 화성시 팔탄편 창곡리...
3,썬텍,헤럴드경제,2018.05.16. 오전 11:19,"[생생코스닥]썬텍, 63억 규모 경기도 화성시 소재 토지 매입 결정",[헤럴드경제=증권팀] 썬텍은 안정적인 생산활동을 위해 경기도 화성시 소재 토지를 양...
4,썬텍,서울경제,2018.05.16. 오전 11:40,"썬텍, 63억원 규모 경기 화성시 토지 양수",[서울경제] 썬텍(122800)은 안정적 생산활동을 위한 부지매입을 위해 경기도 화...
...,...,...,...,...,...
19335,미스터피자,이데일리,2018.04.14. 오후 9:24,[포토]캠퍼들 환호성 자아내는 미스터피자 드림팀,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...
19336,미스터피자,이데일리,2018.04.14. 오후 9:24,[포토]렛츠 고 캠핑 찾은 미스터피자 드림팀,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...
19337,미스터피자,이데일리,2018.04.14. 오후 9:24,"[포토]미스터피자 드림팀, '환상의 도우쇼'",[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...
19338,미스터피자,이데일리,2018.04.14. 오후 9:24,[포토]미스터피자 드림팀의 화려한 무대,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...
19339,미스터피자,이데일리,2018.04.14. 오후 9:24,[포토]미스터피자 드림팀 공연에 밤잠 못이루는 캠퍼들,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...

In [98]:
wjd['시간'] = wjd['시간'].str[:10]
rhks['시간'] = rhks['시간'].str[:10]
# 시간 컬럼 중 필요 없는 시간 단위 탈락

In [99]:
rhks

,종목명,신문사,시간,제목,본문
0,썬텍,머니투데이,2018.05.16,"썬텍, 63억웜 규모 경기 화성시 소재 토지 매입 결정",[머니투데이 안재용 기자]\n썬텍은 안정적 생산활동을 위한 부지매입을 위해 경기도 ...
1,썬텍,한국경제,2018.05.16,"썬텍, 63억 규모 경기 화성시 토지 양수 결정",썬텍은 안정적 생산활동을 위한 부지매입을 위해 경기도 화성시 필탄면 소재 토지를 6...
2,썬텍,이데일리,2018.05.16,"썬텍, 경기 화성 유형자산 취득",[이데일리 최정희 기자] 쎈텍은 안정적인 생산활동을 위해 경기 화성시 팔탄편 창곡리...
3,썬텍,헤럴드경제,2018.05.16,"[생생코스닥]썬텍, 63억 규모 경기도 화성시 소재 토지 매입 결정",[헤럴드경제=증권팀] 썬텍은 안정적인 생산활동을 위해 경기도 화성시 소재 토지를 양...
4,썬텍,서울경제,2018.05.16,"썬텍, 63억원 규모 경기 화성시 토지 양수",[서울경제] 썬텍(122800)은 안정적 생산활동을 위한 부지매입을 위해 경기도 화...
...,...,...,...,...,...
19335,미스터피자,이데일리,2018.04.14,[포토]캠퍼들 환호성 자아내는 미스터피자 드림팀,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...
19336,미스터피자,이데일리,2018.04.14,[포토]렛츠 고 캠핑 찾은 미스터피자 드림팀,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...
19337,미스터피자,이데일리,2018.04.14,"[포토]미스터피자 드림팀, '환상의 도우쇼'",[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...
19338,미스터피자,이데일리,2018.04.14,[포토]미스터피자 드림팀의 화려한 무대,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...
19339,미스터피자,이데일리,2018.04.14,[포토]미스터피자 드림팀 공연에 밤잠 못이루는 캠퍼들,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...

In [100]:
# train, test 분리
wjd['시간'] = pd.to_datetime(wjd['시간'])

wjd1 = wjd.loc[wjd['시간']<= '2019-03-31']
wjd2 = wjd.loc[wjd['시간']> '2019-03-31']

In [101]:
df = pd.merge(wjd, wjd_df, how = 'left', on = '종목명')

df_2 = pd.merge(rhks, rhks_df, how = 'left', on = '종목명')

In [102]:
df_2

,종목명,신문사,시간,제목,본문,기간시작,gg1,gg2,gg3,gg4,gg5,기간끝
0,썬텍,머니투데이,2018.05.16,"썬텍, 63억웜 규모 경기 화성시 소재 토지 매입 결정",[머니투데이 안재용 기자]\n썬텍은 안정적 생산활동을 위한 부지매입을 위해 경기도 ...,2017-02-28,2017-03-28,2017-04-28,2017-05-28,2017-06-28,2017-07-28,2017-08-29
1,썬텍,한국경제,2018.05.16,"썬텍, 63억 규모 경기 화성시 토지 양수 결정",썬텍은 안정적 생산활동을 위한 부지매입을 위해 경기도 화성시 필탄면 소재 토지를 6...,2017-02-28,2017-03-28,2017-04-28,2017-05-28,2017-06-28,2017-07-28,2017-08-29
2,썬텍,이데일리,2018.05.16,"썬텍, 경기 화성 유형자산 취득",[이데일리 최정희 기자] 쎈텍은 안정적인 생산활동을 위해 경기 화성시 팔탄편 창곡리...,2017-02-28,2017-03-28,2017-04-28,2017-05-28,2017-06-28,2017-07-28,2017-08-29
3,썬텍,헤럴드경제,2018.05.16,"[생생코스닥]썬텍, 63억 규모 경기도 화성시 소재 토지 매입 결정",[헤럴드경제=증권팀] 썬텍은 안정적인 생산활동을 위해 경기도 화성시 소재 토지를 양...,2017-02-28,2017-03-28,2017-04-28,2017-05-28,2017-06-28,2017-07-28,2017-08-29
4,썬텍,서울경제,2018.05.16,"썬텍, 63억원 규모 경기 화성시 토지 양수",[서울경제] 썬텍(122800)은 안정적 생산활동을 위한 부지매입을 위해 경기도 화...,2017-02-28,2017-03-28,2017-04-28,2017-05-28,2017-06-28,2017-07-28,2017-08-29
...,...,...,...,...,...,...,...,...,...,...,...,...
19335,미스터피자,이데일리,2018.04.14,[포토]캠퍼들 환호성 자아내는 미스터피자 드림팀,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...,2018-02-15,2018-03-15,2018-04-15,2018-05-15,2018-06-15,2018-07-15,2018-08-14
19336,미스터피자,이데일리,2018.04.14,[포토]렛츠 고 캠핑 찾은 미스터피자 드림팀,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...,2018-02-15,2018-03-15,2018-04-15,2018-05-15,2018-06-15,2018-07-15,2018-08-14
19337,미스터피자,이데일리,2018.04.14,"[포토]미스터피자 드림팀, '환상의 도우쇼'",[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...,2018-02-15,2018-03-15,2018-04-15,2018-05-15,2018-06-15,2018-07-15,2018-08-14
19338,미스터피자,이데일리,2018.04.14,[포토]미스터피자 드림팀의 화려한 무대,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...,2018-02-15,2018-03-15,2018-04-15,2018-05-15,2018-06-15,2018-07-15,2018-08-14
19339,미스터피자,이데일리,2018.04.14,[포토]미스터피자 드림팀 공연에 밤잠 못이루는 캠퍼들,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...,2018-02-15,2018-03-15,2018-04-15,2018-05-15,2018-06-15,2018-07-15,2018-08-14

In [103]:
df = df.dropna()
rhks = rhks.dropna()

df_2 = df_2.dropna()

In [104]:
# 1개월 단위 부도기사 갯수 확인 위해 컬럼 생성

df['1mon'] = ""
df['2mon'] = ""
df['3mon'] = ""
df['4mon'] = ""
df['5mon'] = ""
df['6mon'] = ""

df_2['1mon'] = ""
df_2['2mon'] = ""
df_2['3mon'] = ""
df_2['4mon'] = ""
df_2['5mon'] = ""
df_2['6mon'] = ""

In [105]:
df['시간'] = pd.to_datetime(df['시간'])
df_2['시간'] = pd.to_datetime(df_2['시간'])

In [106]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19340 entries, 0 to 19339
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목명     19340 non-null  object
 1   신문사     19340 non-null  object
 2   시간      19340 non-null  datetime64[ns]
 3   제목      19340 non-null  object
 4   본문      19340 non-null  object
 5   기간시작    19340 non-null  datetime64[ns]
 6   gg1     19340 non-null  datetime64[ns]
 7   gg2     19340 non-null  datetime64[ns]
 8   gg3     19340 non-null  datetime64[ns]
 9   gg4     19340 non-null  datetime64[ns]
 10  gg5     19340 non-null  datetime64[ns]
 11  기간끝     19340 non-null  datetime64[ns]
 12  1mon    19340 non-null  object
 13  2mon    19340 non-null  object
 14  3mon    19340 non-null  object
 15  4mon    19340 non-null  object
 16  5mon    19340 non-null  object
 17  6mon    19340 non-null  object
dtypes: datetime64[ns](8), object(10)
memory usage: 2.8+ MB

In [107]:
df = df.set_index('종목명')
df_2 = df_2.set_index('종목명')

In [108]:
df = df.reset_index()
df_2 = df_2.reset_index()

In [109]:
df_2

,종목명,신문사,시간,제목,본문,기간시작,gg1,gg2,gg3,gg4,gg5,기간끝,1mon,2mon,3mon,4mon,5mon,6mon
0,썬텍,머니투데이,2018-05-16,"썬텍, 63억웜 규모 경기 화성시 소재 토지 매입 결정",[머니투데이 안재용 기자]\n썬텍은 안정적 생산활동을 위한 부지매입을 위해 경기도 ...,2017-02-28,2017-03-28,2017-04-28,2017-05-28,2017-06-28,2017-07-28,2017-08-29,,,,,,
1,썬텍,한국경제,2018-05-16,"썬텍, 63억 규모 경기 화성시 토지 양수 결정",썬텍은 안정적 생산활동을 위한 부지매입을 위해 경기도 화성시 필탄면 소재 토지를 6...,2017-02-28,2017-03-28,2017-04-28,2017-05-28,2017-06-28,2017-07-28,2017-08-29,,,,,,
2,썬텍,이데일리,2018-05-16,"썬텍, 경기 화성 유형자산 취득",[이데일리 최정희 기자] 쎈텍은 안정적인 생산활동을 위해 경기 화성시 팔탄편 창곡리...,2017-02-28,2017-03-28,2017-04-28,2017-05-28,2017-06-28,2017-07-28,2017-08-29,,,,,,
3,썬텍,헤럴드경제,2018-05-16,"[생생코스닥]썬텍, 63억 규모 경기도 화성시 소재 토지 매입 결정",[헤럴드경제=증권팀] 썬텍은 안정적인 생산활동을 위해 경기도 화성시 소재 토지를 양...,2017-02-28,2017-03-28,2017-04-28,2017-05-28,2017-06-28,2017-07-28,2017-08-29,,,,,,
4,썬텍,서울경제,2018-05-16,"썬텍, 63억원 규모 경기 화성시 토지 양수",[서울경제] 썬텍(122800)은 안정적 생산활동을 위한 부지매입을 위해 경기도 화...,2017-02-28,2017-03-28,2017-04-28,2017-05-28,2017-06-28,2017-07-28,2017-08-29,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19335,미스터피자,이데일리,2018-04-14,[포토]캠퍼들 환호성 자아내는 미스터피자 드림팀,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...,2018-02-15,2018-03-15,2018-04-15,2018-05-15,2018-06-15,2018-07-15,2018-08-14,,,,,,
19336,미스터피자,이데일리,2018-04-14,[포토]렛츠 고 캠핑 찾은 미스터피자 드림팀,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...,2018-02-15,2018-03-15,2018-04-15,2018-05-15,2018-06-15,2018-07-15,2018-08-14,,,,,,
19337,미스터피자,이데일리,2018-04-14,"[포토]미스터피자 드림팀, '환상의 도우쇼'",[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...,2018-02-15,2018-03-15,2018-04-15,2018-05-15,2018-06-15,2018-07-15,2018-08-14,,,,,,
19338,미스터피자,이데일리,2018-04-14,[포토]미스터피자 드림팀의 화려한 무대,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...,2018-02-15,2018-03-15,2018-04-15,2018-05-15,2018-06-15,2018-07-15,2018-08-14,,,,,,
19339,미스터피자,이데일리,2018-04-14,[포토]미스터피자 드림팀 공연에 밤잠 못이루는 캠퍼들,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...,2018-02-15,2018-03-15,2018-04-15,2018-05-15,2018-06-15,2018-07-15,2018-08-14,,,,,,

In [110]:
# 1개월 단위 부도기사 갯수 확인 위해 컬럼 생성
df['1mon'] = 0
df['2mon'] = 0
df['3mon'] = 0
df['4mon'] = 0
df['5mon'] = 0
df['6mon'] = 0

df_2['1mon'] = 0
df_2['2mon'] = 0
df_2['3mon'] = 0
df_2['4mon'] = 0
df_2['5mon'] = 0
df_2['6mon'] = 0

In [112]:
for i in range(0, len(df)):
    if (df.loc[i]['시간'] > df.loc[i]['기간시작']) & (df.loc[i]['시간'] <= df.loc[i]['gg1']):
        df.loc[i,'1mon'] = 1
    elif (df.loc[i]['시간'] > df.loc[i]['gg1']) & (df.loc[i]['시간'] <= df.loc[i]['gg2']):
        df.loc[i,'2mon'] = 1
    elif (df.loc[i]['시간'] > df.loc[i]['gg2']) & (df.loc[i]['시간'] <= df.loc[i]['gg3']):
        df.loc[i,'3mon'] = 1
    elif (df.loc[i]['시간'] > df.loc[i]['gg3']) & (df.loc[i]['시간'] <= df.loc[i]['gg4']):
        df.loc[i,'4mon'] = 1
    elif (df.loc[i]['시간'] > df.loc[i]['gg4']) & (df.loc[i]['시간'] <= df.loc[i]['gg5']):
        df.loc[i,'5mon'] = 1
    elif (df.loc[i]['시간'] > df.loc[i]['gg5']) & (df.loc[i]['시간'] <= df.loc[i]['기간끝']):
        df.loc[i,'6mon'] = 1
# 크롤링 된 시간이 6분할 된 시간 중 해당되는 컬럼에 1부여

In [113]:
for i in range(0, len(df_2)):
    if (df_2.loc[i]['시간'] > df_2.loc[i]['기간시작']) & (df_2.loc[i]['시간'] <= df_2.loc[i]['gg1']):
        df_2.loc[i,'1mon'] = 1
    elif (df_2.loc[i]['시간'] > df_2.loc[i]['gg1']) & (df_2.loc[i]['시간'] <= df_2.loc[i]['gg2']):
        df_2.loc[i,'2mon'] = 1
    elif (df_2.loc[i]['시간'] > df_2.loc[i]['gg2']) & (df_2.loc[i]['시간'] <= df_2.loc[i]['gg3']):
        df_2.loc[i,'3mon'] = 1
    elif (df_2.loc[i]['시간'] > df_2.loc[i]['gg3']) & (df_2.loc[i]['시간'] <= df_2.loc[i]['gg4']):
        df_2.loc[i,'4mon'] = 1
    elif (df_2.loc[i]['시간'] > df_2.loc[i]['gg4']) & (df_2.loc[i]['시간'] <= df_2.loc[i]['gg5']):
        df_2.loc[i,'5mon'] = 1
    elif (df_2.loc[i]['시간'] > df_2.loc[i]['gg5']) & (df_2.loc[i]['시간'] <= df_2.loc[i]['기간끝']):
        df_2.loc[i,'6mon'] = 1

In [114]:
df_2

,종목명,신문사,시간,제목,본문,기간시작,gg1,gg2,gg3,gg4,gg5,기간끝,1mon,2mon,3mon,4mon,5mon,6mon
0,썬텍,머니투데이,2018-05-16,"썬텍, 63억웜 규모 경기 화성시 소재 토지 매입 결정",[머니투데이 안재용 기자]\n썬텍은 안정적 생산활동을 위한 부지매입을 위해 경기도 ...,2017-02-28,2017-03-28,2017-04-28,2017-05-28,2017-06-28,2017-07-28,2017-08-29,0,0,0,0,0,0
1,썬텍,한국경제,2018-05-16,"썬텍, 63억 규모 경기 화성시 토지 양수 결정",썬텍은 안정적 생산활동을 위한 부지매입을 위해 경기도 화성시 필탄면 소재 토지를 6...,2017-02-28,2017-03-28,2017-04-28,2017-05-28,2017-06-28,2017-07-28,2017-08-29,0,0,0,0,0,0
2,썬텍,이데일리,2018-05-16,"썬텍, 경기 화성 유형자산 취득",[이데일리 최정희 기자] 쎈텍은 안정적인 생산활동을 위해 경기 화성시 팔탄편 창곡리...,2017-02-28,2017-03-28,2017-04-28,2017-05-28,2017-06-28,2017-07-28,2017-08-29,0,0,0,0,0,0
3,썬텍,헤럴드경제,2018-05-16,"[생생코스닥]썬텍, 63억 규모 경기도 화성시 소재 토지 매입 결정",[헤럴드경제=증권팀] 썬텍은 안정적인 생산활동을 위해 경기도 화성시 소재 토지를 양...,2017-02-28,2017-03-28,2017-04-28,2017-05-28,2017-06-28,2017-07-28,2017-08-29,0,0,0,0,0,0
4,썬텍,서울경제,2018-05-16,"썬텍, 63억원 규모 경기 화성시 토지 양수",[서울경제] 썬텍(122800)은 안정적 생산활동을 위한 부지매입을 위해 경기도 화...,2017-02-28,2017-03-28,2017-04-28,2017-05-28,2017-06-28,2017-07-28,2017-08-29,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19335,미스터피자,이데일리,2018-04-14,[포토]캠퍼들 환호성 자아내는 미스터피자 드림팀,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...,2018-02-15,2018-03-15,2018-04-15,2018-05-15,2018-06-15,2018-07-15,2018-08-14,0,1,0,0,0,0
19336,미스터피자,이데일리,2018-04-14,[포토]렛츠 고 캠핑 찾은 미스터피자 드림팀,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...,2018-02-15,2018-03-15,2018-04-15,2018-05-15,2018-06-15,2018-07-15,2018-08-14,0,1,0,0,0,0
19337,미스터피자,이데일리,2018-04-14,"[포토]미스터피자 드림팀, '환상의 도우쇼'",[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...,2018-02-15,2018-03-15,2018-04-15,2018-05-15,2018-06-15,2018-07-15,2018-08-14,0,1,0,0,0,0
19338,미스터피자,이데일리,2018-04-14,[포토]미스터피자 드림팀의 화려한 무대,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...,2018-02-15,2018-03-15,2018-04-15,2018-05-15,2018-06-15,2018-07-15,2018-08-14,0,1,0,0,0,0
19339,미스터피자,이데일리,2018-04-14,[포토]미스터피자 드림팀 공연에 밤잠 못이루는 캠퍼들,[이데일리 방인권 기자] 미스터피자 드림팀이 14일 오후 경기 가평군 자라섬 캠핑장...,2018-02-15,2018-03-15,2018-04-15,2018-05-15,2018-06-15,2018-07-15,2018-08-14,0,1,0,0,0,0

In [115]:
del_list = []
for i in range(0, len(df_2)):
    if (df_2.loc[i]['1mon'] + df_2.loc[i]['2mon']+df_2.loc[i]['3mon']+df_2.loc[i]['4mon']+df_2.loc[i]['5mon']+df_2.loc[i]['6mon']) == 0:
        del_list.append(i)

# 'label'=0 즉 키워드 단어가 포함되지 않은 문자 시 카운트가 되지 않아야 함

In [116]:
for i in del_list:
    df_2 = df_2.drop([i], axis = 0)

In [721]:
# df.to_csv('정상_뉴스_기사비율_기간분할.csv')

In [121]:
df_2 = df_2.set_index('종목명')

In [122]:
df_2 = df_2.reset_index()

In [124]:
df_2.to_csv('관리_뉴스_기사비율_기간분할.csv')