In [2]:
import os
import pandas as pd

path = '/Users/ijunhui/Downloads/ubion/프로젝트2/2_크롤링/뉴스/정상기업크롤링/2017정상/'
file_list = os.listdir(path)
file_list_py = [file for file in file_list if file.endswith('.csv')]

In [3]:
df = pd.DataFrame()
for i in file_list_py:
    data = pd.read_csv(path + i)
    df = pd.concat([df,data])

df = df.drop_duplicates()
df = df.reset_index(drop = True)
# df.to_csv('./data/관리종목크롤링.csv', index=False)
# df[df['종목명']=='위지트']

In [4]:
df

,종목명,신문사,시간,제목,본문
0,참좋은여행,전자신문,2017.10.10. 오후 12:09,"[ET투자뉴스][참좋은여행 지분 변동] 국민연금공단 외 1명 -3.27%p 감소, ...",참좋은여행(094850)은 10일 주주 국민연금공단을 비롯한 특별관계자의 보유주식이...
1,참좋은여행,전자신문,2017.10.10. 오후 12:53,[ET투자뉴스]자전거주 테마_참좋은여행 2주간 -0.47%로 하락폭 가장 작아,현재 시점에서 자전거주 테마 내의 종목들이 모두 하락세를 보이며 좋지 않은 모습을 ...
2,참좋은여행,뉴스1,2017.10.16. 오전 8:35,[부고] 이상무씨(참좋은여행 전무이사) 부친상,"■이상일씨 별세, 이상무씨(참좋은여행 전무이사) 부친상=15일 충청나마도 서산중앙병..."
3,참좋은여행,노컷뉴스,2017.10.16. 오전 9:24,[부고] 이상무(참좋은여행 전무이사)씨 부친상,"[CBS노컷뉴스]\n▲ 이상무(참좋은여행 전무이사)씨 부친상 = 이상일, 상무, 상..."
4,참좋은여행,스포츠서울,2017.10.20. 오전 8:04,"""봄의 도시로 떠나볼까?"" 참좋은여행, 봄으로 떠나는 가을여행 '베트남 달랏'",베트남 달랏 제공 | 참좋은여행\n\n[스포츠서울 황철훈기자] 하루가 다르게 쌀쌀해...
...,...,...,...,...,...
7215,엘오티베큠,이데일리,2018.03.20. 오후 1:25,"엘오티베큠, 삼성전자와 25억원 규모 공급 계약",[이데일리 오희나 기자] 엘오티베큠(083310)은 삼성전자와 25억원 규모 반도체...
7216,엘오티베큠,헤럴드경제,2018.03.20. 오후 2:08,"[생생코스닥]엘오티베큠, 삼성전자와 25.4억 규모 공급계약",[헤럴드경제=증권팀] 엘오티베큠은 삼성전자와 반도체 공정용 플라즈마 전처리시스템 &...
7217,엘오티베큠,뉴시스,2018.03.20. 오후 2:37,"엘오티베큠, 삼성전자와 25억 규모 반도체 시스템·펌프 공급 계약",【서울=뉴시스】김지은 기자 = 코스닥 상장 반도체 장비업체 엘오티베큠(083310)...
7218,엘오티베큠,아시아경제,2018.03.20. 오후 2:55,"엘오티베큠, 삼성전자와 25억 규모 반도체 장비 공급계약",[아시아경제 박나영 기자]엘오티베큠은 지난 19일 삼성전자와 25억4200만원 규모...
7219,엘오티베큠,매일경제,2018.03.20. 오후 5:33,[코스닥 공시] 씨큐브 / 아진산업 / 엘오티베큠 등,◇씨큐브=공장 신설에 120억원 투자.\n\n◇아진산업=신주인수권행사가액 5620원...

In [5]:
df['신문사'] = df['신문사'].astype(str)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7220 entries, 0 to 7219
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목명     7220 non-null   object
 1   신문사     7220 non-null   object
 2   시간      7219 non-null   object
 3   제목      7219 non-null   object
 4   본문      7219 non-null   object
dtypes: object(5)
memory usage: 282.2+ KB

In [7]:
for i in range (0, len(df)):
   df.loc[i]['신문사'] = df.loc[i]['신문사'].replace("언론사 선정", "")

In [8]:
df['종목명'].nunique()

202

In [9]:
df[df['신문사']=='머니투데이언론사 선정']

Empty DataFrame
Columns: [종목명, 신문사, 시간, 제목, 본문]
Index: []

In [10]:
df_s = df.groupby('종목명').count()
df_1 = df_s.sort_values('신문사', ascending=True)
df_1

        신문사   시간   제목   본문
종목명
         1    0    0    0
형지아이앤씨    1    1    1    1
종목명       1    1    1    1
인포바인      1    1    1    1
원일특강      1    1    1    1
...     ...  ...  ...  ...
시스웍     126  126  126  126
투비소프트   129  129  129  129
바이오리더스  133  133  133  133
아미코젠    164  164  164  164
코디엠     202  202  202  202

[202 rows x 4 columns]

In [11]:
df_2 = df_1[df_1['신문사'] < 10]
list = df_2.index

In [12]:
df[df['종목명']=='손오공']

,종목명,신문사,시간,제목,본문
6937,손오공,파이낸셜뉴스,2017.10.06. 오전 10:39,"손오공, '잘 노는 우리학교 만들기' 후원… 동답초 놀이공간 개장식 개최",완구 제조 및 놀이문화기업 손오공이 국제 구호개발 NGO 세이브더칠드런의 ‘2017...
6938,손오공,스포츠조선,2017.10.11. 오전 11:34,"손오공, 세이브더칠드런 '2017 국제어린이마라톤' 동참",완구 전문기업 손오공이 10월 15일 서울 상암동 월드컵공원에서 열리는 '2017 ...
6939,손오공,전자신문,2017.10.11. 오후 4:24,"손오공, 헬로카봇·소피루비 ‘2017 국제어린이마라톤’ 행사 동참","[전자신문인터넷 이상원기자] 완구 전문기업 손오공은 대표 캐릭터 ‘헬로카봇’, ‘소..."
6940,손오공,부산일보,2017.10.11. 오후 5:23,손오공 헬로카봇·소피루비 2017 국제어린이마라톤 행사 동참,"완구 전문기업 손오공은 대표 캐릭터 '헬로카봇', '소피루비'가 체육의 날인 오는 ..."
6941,손오공,SBS Biz,2017.10.13. 오전 10:28,‘손오공처럼 날아볼까’…호버보드 상용화 초읽기,■ 경제와이드 모닝벨 '테크 업데이트' - 명민준\n\n사람이 타서 날아다닐 수 있...
6942,손오공,파이낸셜뉴스,2017.10.13. 오후 2:52,손오공 '터닝메카드W 반다인의 비밀' 6부작 방영,손오공은 애니메이션 터닝메카드W 시리즈 스페셜편 '터닝메카드W : 반다인의 비밀'이...
6943,손오공,아시아경제,2017.10.18. 오전 8:13,"손오공, 40여종 직업 소개 '꿈의 왕국 소피루비' 방영",[아시아경제 김유리 기자] 손오공은 여아 애니메이션 '꿈의 왕국 소피루비'가 오는 ...
6944,손오공,전자신문,2017.10.18. 오전 11:11,"손오공, ‘꿈의 왕국 소피루비’ 21일 첫 방영",다양한 직업 간접 체험…뮤지컬로도 제작돼 큰 인기\n\n\n[전자신문인터넷 이상원기...

In [13]:
df

,종목명,신문사,시간,제목,본문
0,참좋은여행,전자신문,2017.10.10. 오후 12:09,"[ET투자뉴스][참좋은여행 지분 변동] 국민연금공단 외 1명 -3.27%p 감소, ...",참좋은여행(094850)은 10일 주주 국민연금공단을 비롯한 특별관계자의 보유주식이...
1,참좋은여행,전자신문,2017.10.10. 오후 12:53,[ET투자뉴스]자전거주 테마_참좋은여행 2주간 -0.47%로 하락폭 가장 작아,현재 시점에서 자전거주 테마 내의 종목들이 모두 하락세를 보이며 좋지 않은 모습을 ...
2,참좋은여행,뉴스1,2017.10.16. 오전 8:35,[부고] 이상무씨(참좋은여행 전무이사) 부친상,"■이상일씨 별세, 이상무씨(참좋은여행 전무이사) 부친상=15일 충청나마도 서산중앙병..."
3,참좋은여행,노컷뉴스,2017.10.16. 오전 9:24,[부고] 이상무(참좋은여행 전무이사)씨 부친상,"[CBS노컷뉴스]\n▲ 이상무(참좋은여행 전무이사)씨 부친상 = 이상일, 상무, 상..."
4,참좋은여행,스포츠서울,2017.10.20. 오전 8:04,"""봄의 도시로 떠나볼까?"" 참좋은여행, 봄으로 떠나는 가을여행 '베트남 달랏'",베트남 달랏 제공 | 참좋은여행\n\n[스포츠서울 황철훈기자] 하루가 다르게 쌀쌀해...
...,...,...,...,...,...
7215,엘오티베큠,이데일리,2018.03.20. 오후 1:25,"엘오티베큠, 삼성전자와 25억원 규모 공급 계약",[이데일리 오희나 기자] 엘오티베큠(083310)은 삼성전자와 25억원 규모 반도체...
7216,엘오티베큠,헤럴드경제,2018.03.20. 오후 2:08,"[생생코스닥]엘오티베큠, 삼성전자와 25.4억 규모 공급계약",[헤럴드경제=증권팀] 엘오티베큠은 삼성전자와 반도체 공정용 플라즈마 전처리시스템 &...
7217,엘오티베큠,뉴시스,2018.03.20. 오후 2:37,"엘오티베큠, 삼성전자와 25억 규모 반도체 시스템·펌프 공급 계약",【서울=뉴시스】김지은 기자 = 코스닥 상장 반도체 장비업체 엘오티베큠(083310)...
7218,엘오티베큠,아시아경제,2018.03.20. 오후 2:55,"엘오티베큠, 삼성전자와 25억 규모 반도체 장비 공급계약",[아시아경제 박나영 기자]엘오티베큠은 지난 19일 삼성전자와 25억4200만원 규모...
7219,엘오티베큠,매일경제,2018.03.20. 오후 5:33,[코스닥 공시] 씨큐브 / 아진산업 / 엘오티베큠 등,◇씨큐브=공장 신설에 120억원 투자.\n\n◇아진산업=신주인수권행사가액 5620원...

In [36]:
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta
import numpy as np
a = pd.read_csv('/Users/ijunhui/Downloads/ubion/프로젝트2/1_기업선정/관리종목/최종_관리기업.csv')

a['시간'] = pd.to_datetime(a['시간'], format='%Y.%m.%d')
a['기간'] = pd.to_datetime(a['기간'], format='%Y.%m.%d')

In [37]:
len(a)

560

In [38]:
a = a.set_index('회사명')

In [39]:
a = a.reset_index()

In [40]:
a

        회사명  Unnamed: 0         기간         시간
0     피에스엠씨           0 2011-09-19 2012-03-19
1     JH코오스           1 2011-10-13 2012-04-13
2      큐리어스           2 2011-11-17 2012-05-17
3     엔터미디어           3 2011-12-20 2012-06-20
4    엔케이바이오           4 2012-01-23 2012-07-23
..      ...         ...        ...        ...
555     텔루스         555 2020-03-04 2020-08-31
556    디오스텍         556 2020-03-04 2020-08-31
557     에이팸         557 2020-03-25 2020-09-21
558    넥센테크         558 2020-03-25 2020-09-21
559     에스모         559 2020-03-25 2020-09-21

[560 rows x 4 columns]

In [41]:
start = []
for i in range(0, 560):
    n = a.loc[i]['시간'] - relativedelta(months=1)
    start.append(n)

In [42]:
a['기간 후'] = pd.DataFrame()
a['기간 후'] = pd.DataFrame(start)

In [44]:
a = a.drop('Unnamed: 0', axis=True)

In [49]:
a = a[['회사명', '시간', '기간', '기간 후']]

a

        회사명         시간         기간       기간 후
0     피에스엠씨 2012-03-19 2011-09-19 2012-02-19
1     JH코오스 2012-04-13 2011-10-13 2012-03-13
2      큐리어스 2012-05-17 2011-11-17 2012-04-17
3     엔터미디어 2012-06-20 2011-12-20 2012-05-20
4    엔케이바이오 2012-07-23 2012-01-23 2012-06-23
..      ...        ...        ...        ...
555     텔루스 2020-08-31 2020-03-04 2020-07-31
556    디오스텍 2020-08-31 2020-03-04 2020-07-31
557     에이팸 2020-09-21 2020-03-25 2020-08-21
558    넥센테크 2020-09-21 2020-03-25 2020-08-21
559     에스모 2020-09-21 2020-03-25 2020-08-21

[560 rows x 4 columns]

In [50]:
a.to_csv("/Users/ijunhui/Downloads/ubion/프로젝트2/1_기업선정/관리종목/최종_관리기업.csv", index=False )

In [51]:
b = pd.read_csv('/Users/ijunhui/Downloads/ubion/프로젝트2/1_기업선정/관리종목/최종_관리기업.csv')
b

        회사명          시간          기간        기간 후
0     피에스엠씨  2012-03-19  2011-09-19  2012-02-19
1     JH코오스  2012-04-13  2011-10-13  2012-03-13
2      큐리어스  2012-05-17  2011-11-17  2012-04-17
3     엔터미디어  2012-06-20  2011-12-20  2012-05-20
4    엔케이바이오  2012-07-23  2012-01-23  2012-06-23
..      ...         ...         ...         ...
555     텔루스  2020-08-31  2020-03-04  2020-07-31
556    디오스텍  2020-08-31  2020-03-04  2020-07-31
557     에이팸  2020-09-21  2020-03-25  2020-08-21
558    넥센테크  2020-09-21  2020-03-25  2020-08-21
559     에스모  2020-09-21  2020-03-25  2020-08-21

[560 rows x 4 columns]